body{
    background-color:rgb(57, 82, 104);
     display: flex;
    align-items:center;
    justify-content: center; 
    height: 100vh;
   
}
#container{
    height: 500px;
    width: 250px;
    border: solid white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 7px;
    background-image: url(https://images.pexels.com/photos/12705772/pexels-photo-12705772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#tab{
    background-color: aliceblue;
    width:250px; 
    height: 40px;
    border-radius: 0px 0px 2px 2px;
    display: flex;
    justify-content: space-evenly;
}
 h6{
    position: relative;
    top: 15px;
    right: 15px;
    bottom: 30px; 
    display: inline;
    justify-content: center;
}
.nav{
    cursor: pointer;
    position:relative;
    left:8px;
    top: 5px;
 
}
.about{
    position:relative;
    left:20px;
    top: 5px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.nav:hover{
    box-shadow: 5px 0 20px rgb(5, 6, 5);
} 
.about:hover{
    box-shadow: 5px 0 20px rgb(5, 6, 5);
}
#idHome{
    color: blue;
}
#c{
    color: blue;
}
@media screen and (max-width:100px){
    .container{
    width: 100%;
      
    }
  } 

